/* Цвет основного текста #212121
цвет вторичного текста #757575
белый цвет #FFFFFF
цвет лого #000000
Акцент  #2196F3
 цвет контактов rgba(255, 255, 255, 0.6)
 фон цвета фильтра #F5F4FA*/

 :root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --color-white-text: #FFFFFF;
    --logo-color: #000000;
    --accent-color: #2196F3;
    --font-color-filter: #F5F4FA;
    --contact-in-footer: rgba(255, 255, 255, 0.6);
}


/* Главная старинца "Студия" */
/* Тело сайта */
body {
    background-color: var(--color-white-text);
    color: var(--primary-text-color);
    
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
ul, 
li,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    width: 1200px;
    margin: 0px auto;
    padding-right: 15px;
    padding-left: 15px;
    outline: 2px dashed red;
}

/* Шапка сайта */
/* Логотип */
.section-header {
    border-bottom: 1px solid #757575;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .nav {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 93px;

    color: var(--logo-color);
    
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.1;
    text-decoration: none;
}

.logo.color-f {
    color: var(--color-white-text);
}

.logo .accent-logo {
    color: var(--accent-color);    
}
/* Меню */
.container .menu,
.container .contacts {
    display: flex;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;

    list-style-type: none;
}

.menu .item:not(:last-child),
.contacts .item:not(:last-child) {
    margin-right: 50px;
}

.menu .link {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;

    color: var(--primary-text-color);
    text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
    color: var(--accent-color);
} 

.menu .link.carrent {
    color: var(--accent-color);
}
/* Контакты */
.contacts .contacts-company {
    color: var(--secondary-text-color);    
}

.contacts-company {  
    text-decoration: none;
}

.contacts .contacts-company:hover,
.contacts .contacts-company:focus,
.contact-in-footer:hover,
.contact-in-footer:focus {
    color: var(--accent-color);
}

/* Тело главной страницы */
/* Превью с заголовком */
.primery {
    margin-bottom: 94px;
    padding: 200px 0;

    background-color: #2F303A;
}

.primery .primery-text {
    margin-bottom: 30px;

    color: var(--color-white-text);

    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;  
}

.primery .order-service {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    border: 1px solid #2196F3;
    border-radius: 4px;

    color: var(--color-white-text);
    background-color: var(--accent-color);    
    
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    cursor: pointer;
}

/* Особенности */
.feature {
    margin-bottom: 94px;
}

.feature-title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}

.feature-list .feature-text {
    color: var(--secondary-text-color); 
    
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;    
}

/* Предоставляемые услуги */
.services {
    margin-bottom: 94px;
}

.services-title {
    margin-bottom: 50px;
}

/* Наша команда */
.team {
    padding: 94px 0px;

    background-color: #F5F4FA;
}

.team-title {
    margin-bottom: 50px;
}

.container-team {
    width: 270px;
    height: 368px;

    background-color: var(--color-white-text);
}

.photo-team{
    margin-bottom: 30px;     
 }

.container-team .team-name {
    display: inline-block;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
}

.team-list .profesion {
    margin-bottom: 30px;

    color: var(--secondary-text-color);
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
}

/* Футер */
/* Фон временный, что было видно текст */
.section-footer {
    padding: 60px 0px;

    background-color: #2F303A;
}

.color-footer {
    display: inline-block;
    margin-bottom: 20px;

    color: var(--color-white-text);
}

.locatyon {
    margin-bottom: 9px;
    color: var(--color-white-text);
}
/* Контакты в подвале */
.contact-in-footer {
    color: var(--contact-in-footer);
    text-decoration: none; 
    font-style: normal;   
}

.contact-in-footer.mail {
    margin-bottom: 9px;
}


/* Стилизация Портфолио */
/* Тело сайта */
/* Фильтр */
.filter {
    margin-bottom: 34px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;

    cursor: pointer;
}

.filter-menu:hover,
.felter-menu:focus {
    color: var(--color-white-text);
    background-color: var(--accent-color);
}

.filter-menu {
    padding: 6px 22px;

    background-color: var(--font-color-filter);

    border: 1px solid var(--font-color-filter);
    border-radius: 4px;
}

.filter-button {
    display: block;
    margin-left: 0;
    margin-right: 8px;

    color: var(--primary-text-color);
}

.filter-button.last-child {
    margin-right: 0;
}

/* Список проэктов */
.project-container {
    margin-right: 30px;
    margin-bottom: 30px;
    height: 404px;
    width: 370px;

    border: 1px solid #EEEEEE;
}

.img-portfolio {
    margin-bottom: 20px;
}

.project-list .name-project {
    /* display: inline-block; */
    /* height: 36px; */
    margin: 0 24px 4px 24px;

    color: var(--primary-text-color);
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-list .product {
    /* display: inline-block; */
    /* height: 30px; */
    margin: 0 24px;

    color: var(--secondary-text-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.9px;
}
